<h1> Send in your user info here: </h1>

<form method="POST" action="/"> 
  First Name: <input name="fname"> <br> <hr> <br>
  Last Name: <input name="lname"> <br> <hr> <br>
  Email: <input name="email"> <br> <hr> <br>
  Avatar Pic URL: <input name="picurl"> <br> <hr> <br>
  Birthday: <input name="babypic"> <br> <hr> <br>
       <input>
  <input type="submit">
</form>
  