<h1> Send in your user info here: </h1>

<form method="POST" action="/"> 
  First Name: <input name="fname"> <br> <hr> <br>
  Last Name: <input name="lname"> <br> <hr> <br>
  Email: <input name="email"> <br> <hr> <br>
  Username: <input name="username"> <br> <hr> <br>
  Password: <input name="password"> <br> <hr> <br>
  Profile picture: <input name="propic">
  <input type="submit">
</form>
  