<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel="stylesheet" type="text/css" href="stylesheet/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/dashboard.css">
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>